<div id="wrapper">
    <div class="col-lg-4">
      <%= yield %>
    </div>
    <div class="col-lg-8">
        <div class="container-pins profile">
          <%= yield :side %>
        </div>
    </div>
</div>